[Desktop Entry]
Type=Application
Icon=/home/seb/Pictures/System/Cromite.png
Name=Cromite update
Name[en]=Cromite update
Name[en_GB]=Cromite update
Name[en_GB.UTF-8]=Cromite update
Exec=/home/seb/.bash/bin/cromite-update.sh
Hidden=false
NoDisplay=false
StartupNotify=false
Terminal=false
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
